@import "reset";

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
    gap: 20px;
	main {
		background-color: rgb(214, 214, 214);
		width: 400px;
		height: 500px;
		border-radius: 5px;
		padding: 25px;
        display: flex;
        align-items: center;
		form {
			display: flex;
			flex-direction: column;
            align-items: center;
			gap: 20px;
			width: 100%;
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
                width: 100%;
				gap: 5px;
                label {
                    align-self: flex-start;
                }
				input {
					padding: 10px 14px;
                    width: 100%;
					font-size: 18px;
					border-radius: 4px;
				}
			}
			input[type="submit"] {
				width: 120px;
                padding: 8px;
                font-size: 17px;
                &:hover {
                    cursor: pointer;
                }
			}
		}
	}
    .invalid-feedback {
        color: red;
        font-size: 14px;
    }
    .is-invalid {
        border: 2px solid red;
    }
	.is-valid {
		border: 2px solid green;
	}
}
