<%- include("../partials/header.ejs")  %>
</head>
<body>
    <a href="auth/logout">logout</a>
    <%- include("../partials/alert.ejs")  %>
        <h4>Welcome, to the dashboard <%= user.username %> </h4>
    <%- include("../partials/footer.ejs")  %>
</body>
</html>